body { 
    margin: 1rem;
} 

.app {
    margin: 1rem;
}

.ui.grid {
    margin: 0 auto !important;
}

.ui.grid.container {
    width: 90% !important;
}

.ui.card>.image>img, .ui.cards>.card>.image>img {
    background-size: contain !important;
    height: 300px !important;
}

.ui.cards a.card, .ui.link.card, .ui.link.cards .card, a.ui.card {
    width: 350px;
    height: 500px;
    margin: 1.5rem;
    position: relative;
    border-radius: 12px;
    overflow: hidden;
    border: 2px solid #e0e0e0;
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
    box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.ui.cards a.card:hover, .ui.link.card:hover, .ui.link.cards .card:hover, a.ui.card:hover {
    box-shadow: 0px 30px 18px -8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05, 1.05);
}